.hero-unit
  %h2 Passwort vergessen?
  =form_for(resource, :as => resource_name,
    :url => password_path(resource_name), :html => { :method => :post }) do |f|
    %p
      =devise_error_messages!
    %p
      =f.label t(:email)
      =f.email_field :email
    %p
      =f.button "Sende Passwort Instruktionen", :class => 'btn btn-primary'
