= link_to "Neuen Kunden erfassen", new_resource_path, :class => "btn primary small"

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Name
      %th Strasse
      %th Telephon
      %th Ortsteil
      %th E-Mail
      %th Ist Bibliotheks Benutzer?
  %tbody
    - for record in collection
      %tr
        %td=record.name
        %td=record.street
        %td=record.phone
        %td=record.district
        %td=record.email
        %td=record.is_library_visitor
        %td= button_to "Löschen", record, :confirm => "Sind Sie sicher?", :method => :delete
