.hero-unit
  .well
    %h2 Kunden
    %br
    .pull-right= link_to "Neuen Kunden erfassen", new_resource_path, :class => "btn primary small"

    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th Name
          %th Telephon
          %th Ortsteil
      %tbody
        - for record in collection
          %tr
            %td=record.name
            %td=record.phone
            %td=record.district
            %td=link_to raw("<i class='icon-eye-open'></i>"), record
            %td= link_to(raw("<i class='icon-edit'></i>"),
              edit_customer_path(record))
            %td= link_to(raw("<i class='icon-trash'></i>"), record,
              :method => :delete, :confirm => "Sind Sie sicher?")
