= link_to "Neues Buch erfassen", new_resource_path, :class => "btn primary small"

%table.table.table-striped.table-condensed#books
  %thead
    %tr
      %th Autor
      %th Titel
      %th ISBN
      %th Beschreibung
      %th Edit

-# rows are filled in by datatables


-#%td= button_to "Löschen", record, :confirm => "Sind Sie sicher?", :method => :delete
