= semantic_form_for resource, :url => book_lendings_path,
  :html => { :class => 'form-horizontal' } do |f|
  = f.inputs do
    = f.input :customer, :label => "Kunde", :input_html => { 'data-chosen' => true }
    = f.submit "Leihe Buch aus", :class => "btn btn-primary"
