%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Buch
      %th Kunde
      %th Ausgeliehen am
      %th
  %tbody
    - for record in collection
      %tr
        %td=record.book.authors + " - " + record.book.title
        %td=record.customer.name
        %td=record.taken_at.to_date
        %td=button_to "Zurückgeben", record, :confirm => "Sind Sie sicher?",
          :method => :delete
