.hero-unit
  .well
    %h2 Archiv
    %br

    %table.table.table-striped.table-condensed.datatable
      %thead
        %tr
          %th Autoren
          %th Titel
          %th Zurück in Katalog
      %tbody
        - Book.archived.each do |book|
          %tr
            %td= book.authors
            %td= book.title
            %td= link_to(raw("<i class='icon-folder-open'></i>"), toggle_archive_book_path(book), :method => :put, :confirm => "Sind Sie sicher?")
