/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require app_bootstrap
 *= require formtastic
 *= require formtastic_changes
 *= require 'font-awesome'
*/

#progress {
    margin: 10px 20px 0 0;
}

#state {
    font-size: 300%;
    line-height: 100%;
    margin-bottom: 20px;
}

#book-table td {
    padding: 10px 20px 0 0;
    vertical-align: top;
}

.form-search {
    margin-top: 10px;
}
