i { font-size: 1.8em; }

.dataTables_length {
  float: none !important;
}

.dataTables_paginate {
  margin-top: 48px !important;
}

.well {
  padding-bottom: 43px !important;
}

#authorization {
  visibility: hidden;
}
