%p
  Hallo #{@resource.email}!
%p Jemand hat angefordert Ihr Passwort zu aendern. Dies koennen Sie mit dem untenstehenden Link erreichen.
%p= link_to 'Aendere mein Passwort', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Falls Sie diese Anforderung nicht gestellt haben, ignorieren Sie bitte die Mail.
%p Ihr Passwort wird sich nicht aendern bevor Sie den Link oberhalb klicken und ein neues setzen.
